<app-breadcrumbs></app-breadcrumbs>

<div class="w-full mb-4">
  <mat-card>
    <mat-card-content>
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-[70%] mb-3 lg:mb-0">
          <h2 style="margin-bottom: 0" class="text-center md:text-start">
            Cartas
          </h2>
        </div>

        <div class="w-full lg:w-[30%] flex items-center">
          <div class="w-[70%] me-4">
            <span class="w-full">&nbsp;</span>
          </div>
          <div class="w-[30%]">
            <button
              class="w-full p-3 text-white bg-green-600 hover:bg-green-700 active:bg-green-800 rounded"
              (click)="add()"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
